	<ul>
	<% tasks.each do |task| %>
		<li>
			<%= link_to task.title, task_path(task) %>: 
			<%= task.percentage %>%
			<%= (link_to task.user.name, user_path(task.user)) unless task.user.nil? %>
		</li>
	<% end %>
	</ul>